name: clash

on:
  workflow_dispatch:
  # 每天 23:00 触发一次
  schedule:
    - cron: '0 7 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Add token
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set variables
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          echo "BUILDTIME=$(TZ=Asia/Shanghai date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
          echo "REPODIR=$PWD" >> $GITHUB_ENV

      - name: Sync with master branch
        run: |
          git switch master
          git pull --depth=1

      - name: Delete all rules except Clash
        run: |
          rm -rf rule/AdGuard/*
          rm -rf rule/Loon/*
          rm -rf rule/QuantumultX/*
          rm -rf rule/Shadowrocket/*
          rm -rf rule/Surge/*
          rm -rf rule/Surge/*

      - name: Commit and Push Changes
        run: |
          git switch clash
          if [ -n "$(git status --porcelain)" ]; then
            git add --all
            git commit -m "${{ env.BUILDTIME }}: Remove other rules"
            git push origin clash
          else
            echo "No changes to commit"
          fi          
  private:
    if: github.actor == 'peiyingyao'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Add token
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}     
      - name: Set variables
        run: |
          git config --global user.name ${{ vars.GITEE_OWNER }}
          git config --global user.email ${{ vars.GITEE_EMAIL }}
          echo "BUILDTIME=$(TZ=Asia/Shanghai date +'%Y-%m-%d %H:%M:%S')" >> $GITHUB_ENV
          echo "REPODIR=$PWD" >> $GITHUB_ENV
      - name: Sync with clash branch
        run: |
          git switch clash
          git pull --depth=1          
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GITEE_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan gitee.com >> ~/.ssh/known_hosts          

      - name: Push current branch to Gitee
        env:
          BRANCH: ${{ github.ref_name }}      
        run: |
          git remote add gitee git@gitee.com:${{ vars.GITEE_OWNER }}/${{ vars.GITEE_REPO }}.git
          git push gitee $BRANCH --force
